################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/FileSystem1/.vs/FileSystem1/v16/ipch/AutoPCH/3f668d0033281144
