################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/FileSystem1/.vs/FileSystem1/v16/ipch/AutoPCH/3f668d0033281144
/FileSystem1/.vs/FileSystem1/v16
/FileSystem1/FileSystem1/x64/Debug/FileSystem1.tlog
/FileSystem1/FileSystem1/x64/Debug
/FileSystem1/x64/Debug
*.dat
.vs/FileSystem/v16/.suo
.vs/FileSystem/v16/Browse.VC.db
.vs/FileSystem/v16/ipch/AutoPCH/954d2bbcf7f50678/OS.ipch
.vs/FileSystem/v16/ipch/AutoPCH/9ca5af41df54a02b/MAIN.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
FileSystem1/FileSystem1/data.dat
FileSystem1/FileSystem1/FileSystem1.vcxproj.filters
FileSystem1/FileSystem1/FileSystem1.vcxproj.user
FileSystem1/FileSystem1/data.dat
FileSystem1/FileSystem1/data.dat
*.dat
*.txt
/FileSystem1/enc_temp_folder/b26b4e6de82fd19fe675ff8d1a4568a8
/FileSystem1/enc_temp_folder
*.dat
FileSystem1/FileSystem1/tmp.tm
*.dat
*.dat
FileSystem1/FileSystem1/data.dat
*.dat
*.dat
FileSystem1/FileSystem1/asd.tm
FileSystem1/FileSystem1/sort.tm
FileSystem1/FileSystem1/test.tm
/FileSystem1/FileSystem1/temp.bmp
